subscription_id     = "5a23e5b2-a165-43ec-8feb-16c95da6d84e"
location            = "westus3"
vm_size             = "Standard_D2ls_v7"
ssh_public_key_path = "~/.ssh/nextcloud_key.pub"
admin_cidr          = "IP/32"