subscription_id     = "YOUR-SUBSCRIPTION-ID"
location            = "westus3"
vm_size             = "Standard_D2ls_v7"
ssh_public_key_path = "~/.ssh/nextcloud_key.pub"
admin_cidr          = "YOUR-IP/32"